*
!pyproject.toml
!poetry.lock
!alembic.ini
!app/
!app/**
!config/
!config/**
!alembic/
!alembic/**

**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/*.egg-info
**/.coverage
**/htmlcov
**/.cache
**/.huggingface
**/*.log
**/.env
**/.env.*
**/*.secrets.yaml
**/*.pem
**/*.key
**/.ssh
